.Results__Word,
.Meaning,
.Phonetic,
.Synonyms {
  border: 2px solid black;
  border-radius: 30px;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: -2px;
  margin-left: -2px;
}

.Phonetic,
.Synonyms {
  height: 100px;
}

.Meaning,
.Results__Extras {
  width: 400px;
}

.Results__Word {
  width: 800px;
  height: 120px;
}

.Results__Word p {
  font-size: 60px;
  font-weight: 500;
}
