input {
  border-width: 0;
  border-bottom: 2px solid black;
  width: 440px;
  background: transparent;
  outline: none;
  text-transform: uppercase;
  font-size: 30px;
  padding: 0px;
}

/* ::placeholder {
  color: black;
} */

.Search__container {
  display: flex;
  flex-direction: row;
}

.Search__todo,
.Search__form {
  border: 2px solid black;
  border-radius: 30px;
  height: 85px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: -2px;
}

.Search__todo {
  width: 300px;
  background-color: black;
  padding-top: 15px;
}

.Search__todo p {
  font-size: 34px;
  font-weight: 300px;
  color: white;
}

.Search__form {
  width: 500px;
  margin-left: -2px;
  padding-top: 15px;
}

.hide-for-desktop {
  display: none;
}

@media screen and (max-width: 640px) {
  input {
    width: 305px;
  }
  .Search__container {
    flex-direction: column;
  }

  .Search__todo,
  .Search__form {
    width: 360px;
  }

  .hide-for-mobile {
    display: none;
  }

  .hide-for-desktop {
    display: inline;
  }
}
